In [28]:
#Question13 page 495 Annual cost of college
import pandas as pd
import numpy as np
import scipy.stats as stat
from scipy.stats import t

In [29]:
collegecosts1=pd.read_csv('C:/Users/asus/Desktop/SMDA solved/PythonStatistics - SMDA/collegecosts1.csv')
collegecosts2=pd.read_csv('C:/Users/asus/Desktop/SMDA solved/PythonStatistics - SMDA/collegecosts2.csv')

In [30]:
collegecosts1

   Private
0     52.8
1     43.2
2     45.0
3     33.3
4     44.0
5     30.6
6     45.8
7     37.8
8     50.5
9     42.0

In [31]:
collegecosts2

    Public
0     20.3
1     22.0
2     28.2
3     15.6
4     24.1
5     28.5
6     22.8
7     25.8
8     18.5
9     25.6
10    14.4
11    21.8

In [32]:
sample1=collegecosts1['Private']
sample2=collegecosts2['Public']
n1=len(sample1)
n2=len(sample2)
n1,n2

(10, 12)

In [33]:
# a) calculate sample mean, sample sd
x1bar=sample1.mean()
x2bar=sample2.mean()
s1=np.round(sample1.std(),decimals=2)
s2=np.round(sample2.std(),decimals=2)
print("xbar_private=:",x1bar)
print("sd_private=:",s1)
print("xbar_public=:",x2bar)
print("sd_public=:",s2)

xbar_private=: 42.5
sd_private=: 6.98
xbar_public=: 22.3
sd_public=: 4.53

In [34]:
# b) point estimate
PE = x1bar-x2bar
PE

20.2

In [35]:
#calculate standard error
sp2=((n1-1)*s1**2+(n2-1)*s2**2)/(n1+n2-2)
std_error=np.sqrt(sp2*(1/n1+1/n2))
std_error

2.467513677773641

In [49]:
#calculate MOE, Lower limit, upper limit
alpha=0.05   # specify significance level
dof=n1+n2-2
tcri=t.ppf(1-alpha/2,dof)
print(tcri)
MOE=std_error*tcri
print("MOE=;", MOE)
lower_bound=np.round((PE-MOE), decimals=4)
upper_bound=np.round((PE+MOE),decimals=4)
print("lower_bound=:", lower_bound)
print("upper_bound=:", upper_bound)

2.0859634472658364
MOE=; 5.147143337464306
lower_bound=: 15.0529
upper_bound=: 25.3471