In [21]:
#Question 16 page 496 
import pandas as pd
import numpy as np
import scipy.stats as stats
from scipy.stats import t
from scipy.stats import norm

In [22]:
satmath1=pd.read_csv("C:/Users/asus/Desktop/SMDA solved/PythonStatistics - SMDA/satmath1.csv")
satmath2=pd.read_csv("C:/Users/asus/Desktop/SMDA solved/PythonStatistics - SMDA/satmath2.csv")

In [23]:
satmath1

    College
0       485
1       534
2       650
3       554
4       550
5       572
6       497
7       592
8       487
9       533
10      526
11      410
12      515
13      578
14      448
15      469

In [24]:
satmath2

    High School
0           442
1           580
2           479
3           486
4           528
5           524
6           492
7           478
8           425
9           485
10          390
11          535

In [25]:
#perform f-test to choose appropriate t-test
#Ho : Variances are equal V/s Ha: Variances are different
f_statistic , p_value_f = stats.f_oneway(satmath1,satmath2)

In [26]:
#Set a significance level (alpha)
alpha = 0.05

#interpret the results
if p_value_f < alpha:
  print("Reject the null hypothesis")
  print("The variance of thhe two populations are significantly different")
else: 
  print("Fail to reject the null hypothesis")
  print("p-value:", p_value_f)

#Print the f-statistics and p-value
print("f-statistics:", f_statistic)
print("p-value:", p_value_f)

Fail to reject the null hypothesis
p-value: [0.08890085]
f-statistics: [3.12364497]
p-value: [0.08890085]

In [34]:
# use t-test using equal vvariance formula based on the result of f-test
# a) state null and alternative hypothesis
print("Ho=mu1-mu2<=0 v/s Ha:mu1-mu2>0")

Ho=mu1-mu2<=0 v/s Ha:mu1-mu2>0

In [38]:
sample1 = satmath1['College']
sample2=satmath2['High School']
n1=len(sample1)
n2=len(sample2)
n1,n2

(16, 12)

In [42]:
#Calculate sample mean and sample standard deviation
xbar1=sample1.mean()
xbar2=sample2.mean()
sd1=np.round(sample1.std(), decimals=2)
sd2=np.round(sample2.std(),decimals=2)
print("xbar_college=:",xbar1)
print("sd_college=:",sd1)
print("xbar_highschool=:",xbar2)
print("sd_highschool=:",sd2)

xbar_college=: 525.0
sd_college=: 59.42
xbar_highschool=: 487.0
sd_highschool=: 51.75

In [44]:
# b) point estimate
PE=xbar1-xbar2
PE

38.0

In [46]:
# PErform the two sample t-test
t_stats, p_value= stats.ttest_ind(sample1,sample2)
p_value_new=p_value/2 #as we need pvalue for one tail divide p-value by 2

In [50]:
#output results
print("T-statistic:", t_stats)
print("p-value:", p_value_new)

T-statistic: 1.767383652049587
p-value: 0.04445042590522254

In [56]:
#state significance level
alpha = 0.05  #significance level
if p_value_new < alpha:
    print("Reject the null hypothesis")
    print("There is enough evidence to conclude that students whose parents are college grads have higher population mean verbal scores than students whose parents are just high school grads.")
else:
    print("Fail to reject the null hypothesis.")
    print("There is no significant difference between the means of the two groups.")

Reject the null hypothesis
There is enough evidence to conclude that students whose parents are college grads have higher population mean verbal scores than students whose parents are just high school grads.