In [1]:
#Question 24 Page 501 Related/ Dependent/paired/Matched complex
import pandas as pd
import numpy as np
import scipy.stats as stats
from scipy.stats import t
from scipy.stats import norm

In [5]:
businesstravel=pd.read_csv("C:/Users/asus/Desktop/SMDA solved/PythonStatistics - SMDA/businesstravel.csv")
businesstravel

    Current Year  Previous Year
0            345            315
1            526            463
2            420            462
3            216            206
4            285            275
5            405            432
6            635            585
7            710            650
8            605            545
9            517            547
10           570            508
11           610            580

In [7]:
#specify hypothesis
print("ho: D<=0 v/s Ha: D>0")    #right tailed test

ho: D<=0 v/s Ha: D>0

In [13]:
# step 2: Extract the two samples
data1 = businesstravel['Current Year']
data2 = businesstravel['Previous Year']

In [15]:
#calculate the differences between pairs
difference = data1-data2

In [17]:
#perform paired t-test
t_statistic, p_value= stats.ttest_rel(data1,data2)
p_value_new = p_value/2     #divide by 2 as test is one tailed and value is given for the two tailed

In [19]:
#Print the t-statistic and p-value
print("t-statistic:",t_statistic)
print("p-value:",p_value_new)

t-statistic: 2.0535763894820414
p-value: 0.03228826131653952

In [21]:
#Set a significance level(alpha)
alpha =0.05
#interpret the results
if p_value_new < alpha:
    print("Reject the null hypothesis.")
    print("There is enough evidence to conclude that there is significant increase in mean domestic airfarefor business travel")
else:
    print("Fail to reject the null hypothesis")
    print("there is not enough evidence to conclude that there is significant increase in mean domestic airfarefor business travel")

Reject the null hypothesis.
There is enough evidence to conclude that there is significant increase in mean domestic airfarefor business travel

In [23]:
#b) mean for both years
x1bar=data1.mean()
x2bar=data2.mean()
print(x1bar,x2bar)

487.0 464.0