In [96]:
# Question 29 page 443
import pandas as pd
import numpy as np
import scipy.stats as stats
from scipy.stats import t

In [98]:
data = pd.read_csv("C:/Users/asus/Desktop/SMDA solved/PythonStatistics - SMDA/residentialwater.csv")

In [100]:
data

                          Public Utility Company  Rate (5 CCF)
0                   Orlando Utilities Commission         10.48
1                   Memphis Light, Gas and Water          9.18
2                         Central Arkansas Water         11.80
3                   City of Phoenix Water System          6.50
4                   City of Lincoln Water System         12.42
5                       San Antonio Water System         14.53
6                Salt Lake City Public Utilities         15.56
7                 Nashville Metro Water Services         10.12
8                     City of Dover Water System         14.50
9                              Lakeland Electric         16.18
10                          Huntsville Utilities         17.60
11         Omaha Metropolitan Utilities District         19.18
12               Jacksonville Electric Authority         17.98
13                   City of Dallas Water System         12.85
14                City of St. Louis Water System         16.80
15                       Charleston Water System         17.35
16                City of Clewiston Water System         15.64
17  Springfield (IL) City Water, Light and Power         14.80
18                City Of Milwaukee Water System         18.91
19         Detroit Sewerage and Water Department         17.99
20                City of Charlotte Water System         14.90
21                      Louisville Water Company         18.42
22             City of Jackson (MS) Water System         16.05
23               Las Vegas Valley Water District         26.85
24              City of Columbus OH Water System         22.32
25             City of Oklahoma City - Utilities         22.76
26                   Jackson TN Energy Authority         20.98
27                     Knoxville Utilities Board         23.45
28                     New York City Water Board         19.05
29          Reno Truckee Meadows Water Authority         23.70
30            Chattanooga American Water Company         19.26
31              Marietta Board of Lights & Water         23.75
32              City Utilities of Springfield MO         27.80
33            Indianapolis Citizens Energy Group         27.05
34             City of Philadelphia Water System         27.14
35    LA Sewerage and Water Board of New Orleans         26.99
36             Boston Water and Sewer Commission         24.68
37                        Birmingham Water Works         37.86
38                                  Austin Water         26.51
39                 City of Bellevue Water System         39.01
40              City of Los Angeles Water System         29.46
41                         Peoria American Water         41.65

In [102]:
column_name = "Rate (5 CCF)"
data_column = data[column_name]

In [104]:
mu = 21.62
print("Ho: mu=21.62 v/s Ha: mu<>21.62")

Ho: mu=21.62 v/s Ha: mu<>21.62

In [106]:
xbar = data_column.mean()
std = data_column.std()
n = len(data_column)
standard_error= std/np.sqrt(n)

In [108]:
tobs = (xbar - mu) / standard_error
print("tobs:", tobs)
degrees_of_freedom = n - 1
significance_level = 0.05

tcriL = t.ppf(significance_level/2,degrees_of_freedom)
tcriU = t.ppf(1-significance_level/2,degrees_of_freedom)
print("tcriL:", tcriL)
print("tcriU:", tcriU)

tobs: -1.148109512979884
tcriL: -2.019540970441376
tcriU: 2.019540970441376

In [110]:
p_value = t.cdf(-abs(tobs), degrees_of_freedom)*2
print("p_value:", p_value)

p_value: 0.25757821674578