In [47]:
# Question 39 page 448
import pandas as pd
import numpy as np
import scipy.stats as stats
from scipy.stats import t
from scipy.stats import norm

In [48]:
homestate=pd.read_csv("C:\\Users\\asus\\Desktop\\SMDA solved\\PythonStatistics - SMDA\\homestate.csv")

In [49]:
homestate

    Arkansas Residents Born Here Virginia Residents Born Here
0                             No                          Yes
1                             No                           No
2                            Yes                           No
3                            Yes                          Yes
4                            Yes                          Yes
..                           ...                          ...
175                          NaN                           No
176                          NaN                           No
177                          NaN                          Yes
178                          NaN                          Yes
179                          NaN                           No

[180 rows x 2 columns]

In [50]:
print("Ho: mu=0.577 v/s Ha: mu<>0.577")

Ho: mu=0.577 v/s Ha: mu<>0.577

In [51]:
obsA = homestate['Arkansas Residents Born Here'].value_counts()
obsV = homestate['Virginia Residents Born Here'].value_counts()
obsA, obsV

(Arkansas Residents Born Here
 Yes    74
 No     46
 Name: count, dtype: int64,
 Virginia Residents Born Here
 No     91
 Yes    89
 Name: count, dtype: int64)

In [52]:
x = obsA.iloc[0]
y = obsV.iloc[1]
x,y

(74, 89)

In [53]:
n1 = sum(obsA.values)
n2 = sum(obsV.values)
n1,n2

(120, 180)

In [54]:
p1cap = np.round((x/n1), decimals = 2)
q1cap = 1-p1cap
p2cap = np.round((y/n2), decimals = 2)
q2cap = 1-p2cap
p1cap, p2cap

(0.62, 0.49)

In [55]:
P = 0.577
Q = 1-P
std_errorA = np.sqrt((P*Q)/n1)
std_errorV = np.sqrt((P*Q)/n2)
std_errorA, std_errorV

(0.045099057639822145, 0.03682322636597722)

In [56]:
zobsA = np.round(((p1cap-P)/std_errorA), decimals = 2)
zobsV = np.round(((p2cap-P)/std_errorV), decimals = 2)
zobsA, zobsV

(0.95, -2.36)

In [57]:
significance_level = 0.05
zcriL = np.round(norm.ppf(significance_level/2), decimals = 4)
zcriU = np.round(norm.ppf(1-significance_level/2), decimals = 4)
zcriL, zcriU

(-1.96, 1.96)

In [70]:
if zcriL<zobsA<zcriU:
    print("Fail to Reject Ho")
else:
    print("Reject Ho")

Fail to Reject Ho

In [72]:
p_valueA = 2*norm.cdf(-abs(zobsA))
print("p_valueA:", p_valueA)

p_valueA: 0.34211225261696365

In [74]:
if p_valueA<significance_level:
    print("Reject Ho")
else:
    print("Fail to Reject Ho")

Fail to Reject Ho